@charset "utf-8";

table {
	width: 100%;
	border-collapse: collapse;
}
tr:nth-of-type(odd) {
	background: #dde6cd;
}
th {
	background: #465439;
	color: #FFF;
	font-family: exosemibold;
	font-size:.750em;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .750em;
}
td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}
